

body{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    margin-top: 0;
    text-align: center;
}
/*header style*/

header{
  position: fixed;
  height: 69px;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
  margin-top: -8px;
}
header img{
  padding: 10px;
  height: 50px;
}
/*nav was set to flex the flex items became positined and spaced nicely*/
nav{
  text-align: right;
  margin-right: 20px;
  flex-grow: 1;

}
/*spreads the nav elements nicely*/
nav a{
  padding: 20px;

}
a{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
}
/*iimage for mission block*/
#mission{
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
    position: relative;
    height: 700px;
}
/*Id styles*/
#store {
  width: 1000px;
  height: 700px;
  margin: auto;
  padding: 70px;
}
#location{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  background-size: cover;
  padding-top: 70px;
}


/*global styles for flex containers*/
.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/*this is for the text over the image*/
.container {
  background-color: black;
  width: 100%;
  margin: auto;
  position: relative;
  top: 70px;
}
.main {
  width: 1200px;
  opacity: 0.9;
  margin: auto;
}
h2,h3, h4 {
  margin: 0;
  padding: 10px 10px;
}

header img {
  height: 50px;
  padding: 10px;
}
/*size for images in stre section*/
.item img{
    height: 200px;

    margin: 10px
}
.item span{
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}
/*location blocks*/
.location{
  width: 300px;
  opacity: 1;
  padding: 10px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 280px;
  margin: 5px 20px;
}

/*contact*/
#contact{
height: 200px;
}
footer{
  display: block;
  text-align: left;
  margin-left: 20px;
}
