

body{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    margin-top: 0;
}
/*header style*/
/*justify content made the logo and nav on the 2 sides of the screen*/
header{
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-content: flex-start;
  height: 69px;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
  margin-top: 0px;
}
.logo img{
  padding-left: 10px;
  height: 50px;
  padding-top: 12px;
}
/*nav was set to flex the flex items became positined and spaced nicely*/
nav{
  display: flex;
  align-items: center;
  text-align: right;
  margin-right: 5px;
}
/*spreads the nav elements nicely*/
nav span{
  padding: 20px 10px;

}
nav a{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
}
/*immage for our mission block*/
#mission{
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
    position: relative;
    top: 70px;
    width: 1200px;
    margin: auto;

}
.content{
  height: 700px;
  position: relative;
  top: 300px;
  text-align: center;

  width: 1200px;
}
div{
  display: block;
}
.test{
  background-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
}
.flex-container{
  display: flex;
  justify-content: center;
}
